body {
  width: 100%;
}
.stake-container {
  display: flex;
  flex-direction: column;
  margin: 5em 0;
  padding: 1em;
  min-width: 400px;
  border-radius: 10px;
  background: rgb(232, 232, 232);
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.progress-bar {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ListSubheader {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(157, 157, 157);
}
.Button {
  margin-top: 0.5em !important;
}
.no-placements {
  margin-top: 1em;
  text-align: center;
}

.stakes-list {
  margin-top: 1em;
  border-radius: 10px !important;
  overflow: hidden;
}

nav {
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgb(240, 240, 240);
  box-shadow: 0px 1px 5px 1px rgb(211, 211, 211);
}
.nav-link {
  margin: 0.5em 1em !important;
  text-decoration: none;
}
